.donation {
    a.btn {
      display: block;
      font-size: 1.3em;
      width: 14em;
      word-break: break-word;
      white-space: normal;
      margin: 5px auto;
  
      &::first-line {
        font-size: 1.5em;
      }
    }

    div.order-md-2 {
      &:first-child a.btn {
        background: $primary;
        color: #333;
      }
    }

    .container {
      margin-bottom: 0px;
      color: #333;

      p a {
        color: $secondary;
      }

      div.frama-logo {
        width: 200px;
        margin: 15px 0;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }