#header {
  background: $primary;
  border-bottom: 2px solid #666;
  color: #454542;

  .container {
    background: transparent;
    margin-bottom: 0;

    a,
    div.btn-group button,
    a.dropdown-item a {
      color: $secondary;
      text-decoration: none;
      border-radius: 0;

      &:hover {
        color: darken($secondary, 10%);
      }
    }

    ul {
      justify-content: space-around;

      div.btn-group {
        flex: 1 1 auto;
        text-align: center;
      }

      .nav-item {
        & > a {
          &:after {
            display:block;
            content: '';
            border-bottom: 5px solid #fff;
            padding-bottom: 8px;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
          }
          &:hover:after, &:focus:after { transform: scaleX(1); }
        }
      }
      .navbar-text {
        padding: 0;
      }
    }

    & > div {
      align-items: center;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  .btn {
    border: none;
    border-bottom: 5px solid transparent;
    padding: 0.5rem 1rem;
    text-decoration: none;


    &:hover, &:focus {
      border-bottom: 5px solid #fff;
    }
  }
}
