.presentation {
    background: url('../img/action-2277292_1920.jpg') top center;
    background-size: cover;
    min-height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    .container {
      align-self: center;
      background: transparent;

      .col-md-4 {
        background: rgba($color: #fff, $alpha: 0.8);
        border-radius: 4px;
        padding: 20px 30px;
        @supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) {
          backdrop-filter: blur(5px);
        }
      }

      h2 {
        padding: 0 5px;
        font-size: 1.7rem;
      }
    }
  }
