<template>
  <main>
    <vue-headful
      :title="$t('meta.title') + ' - ' + $t('merci.title')"
    />
    <section>
      <b-container>
        <b-col
          lg="8" offset-lg="2"
          id="page-header">
          <h2 v-html="$t('merci.title')"></h2>
        </b-col>
      </b-container>
    </section>

    <section>
      <b-container>
        <b-row>
          <b-col lg="8" offset-lg="2">
            <p v-html="$t('merci.continue')"></p>

            <p class="text-center">
              <img :src="`${$root['/']}img/support.svg`" alt="" width="300">
            </p>

            <p v-html="$t('merci.refresh')"></p>
            <p v-html="$t('merci.success')"></p>
            <p v-html="$t('merci.comment')"></p>
            <div class="text-center"><ShareAndFollow /></div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
import ShareAndFollow from '../partials/ShareAndFollow.vue';

export default {
  components: {
    ShareAndFollow,
  },
}
</script>
